table{
  border:1px solid black;
  width: 1000px;
}
th{
  border-bottom:1px solid grey;
  background-color: rgb(238, 237, 237);
  padding: 10px;
}
tr{
  text-align:center;
  padding:15px;
}
td{
  padding:20px;
}
.cars{
  width: 1100px;
  margin:0 auto;

}
.post__btn{
  background-color:rgb(63, 63, 236);
  color:white;
  border:none;
  padding:10px;
}
#post{
  position: absolute;
  width: 400px;
  top: 0px;
  left: 300px;
  text-align: start;
  padding:15px;
  background-color:white;
  gap: 10px;
  box-shadow: 15px 30px 30px 20px  rgb(240, 239, 239);
}
input,option,select{
  width: 90%;
  padding: 10px;
  border: 1px solid rgb(204, 203, 203);
  margin-top: 5px;
  margin-bottom: 15px;
}
*{
  position: relative;
}
#edit__btn,#ok__btn{
  background-color:rgb(78, 160, 78);
  color:white;
  border:none;
  padding:10px;
  margin: 3px;
}
#delete__btn,#cencel__btn{
  background-color:rgb(226, 48, 48);
  color:white;
  border:none;
  padding:10px;
  margin: 3px;
}
